<div class="full-middle-screen">
  <div class="chooseMiddle">
    <button (click)="clickMiddleScreen('Default')">Default</button>
    <button (click)="clickMiddleScreen('Statistics')">Statistics</button>
  </div>
  <div class="top-down-separator">
  </div>
  @if (this.middleScreen === 'Statistics') {
    <div animate.enter="enter-animation">
      <stats-component [upgradesBought]="this.upgrades"
                       [localStorageUser]="this.localStorageUser"
      ></stats-component>
    </div>
  }
  @if (this.middleScreen === 'Default') {
    <div>
      <p></p>
    </div>
  }
</div>
