* {
    box-sizing: border-box;
}

.separator-left {
  width: 20px;
  float: left;
  min-height: 98vh;
  background-image: url("../assets/wood-pattern.png");
  background-repeat: repeat-y;
  overflow: hidden;
  background-color: saddlebrown;
}

.separator-right {
  width: 20px;
  float: right;
  background-image: url("../assets/wood-pattern.png");
  background-repeat: repeat-y;
  overflow: hidden;
  min-height: 98vh;
  background-color: saddlebrown;
}

.left {
    background-color: sandybrown;
    padding: 20px;
    float: left;
    width: 25%;
    min-width: 400px;
    min-height: 98vh;
}

.middle {
    background-color: rosybrown;
    min-height: 98vh;
}

.right {
    background-color: sandybrown;
    padding: 10px;
    float: right;
    width: 20%;
    min-height: 98vh;
    min-width: 200px;
}

.SinceLastSave {
  padding: 10px;
  text-align: center;
  width: 250px;
  height: 100px;
  background-color: sandybrown;
  border-color: saddlebrown;
  border-width: 5px;
  border-style: solid;
  position: fixed;
  bottom:0%;
  left: 45%;
}

@media screen and (max-height: 600px) {
  .left {
    width: 400px;
  }
  .middle {

  }
  .right {
    width: 375px;
  }

}
