* {
    box-sizing: border-box;
}

.left {
  background-color: #2196F3;
  padding: 20px;
  float: left;
  width: 30%; /* The width is 30%, by default */
}

.middle {
  background-color: #f1f1f1;
  padding: 20px;
  float: left;
  width: 40%; /* The width is 40%, by default */
}

.right {
  background-color: #04AA6D;
  padding: 20px;
  float: left;
  width: 30%; /* The width is 30%, by default */
}

.bitterbal {
    background-color: yellow;
    width: 100px;
    height: 100px;
}