<div class="top">
  <p>TOP</p>
</div>
<div class="left">
  <button (click)="saveData()">Save data</button>
  <button (click)="clearData()">Clear data</button>
  <h2>Number of bitterballen:</h2>
  <h2>{{ onScreenBB() }}</h2>
  <div class="bitterbal" (click)="clickOnB()">
    <p>Bitterbal</p>
  </div>
  <h3>BBs per second: {{ this.game.getGameState().BpS }}</h3>
</div>
<div class="middle">
  <p>middle</p>
  <div>
    <info-component [game]="this.game"
                    [upgradesBought]="this.upgrades"
    ></info-component>
  </div>
</div>
<div class="right">
  <p>right</p>
  <div class="upgradeBlock">
    @for (upgrade of upgrades;let idx =  $index;track idx) {
      <upgrade-component [upgrade]="upgrade"
                         [game]="this.game">
      </upgrade-component>
    }
  </div>
  <div class="buildingBlock">
    @for (building of buildings;let idx = $index;track idx) {
      <building-component [building]="building"
                          [game]="this.game">
      </building-component>
    }
  </div>
</div>
