* {
  box-sizing: border-box;
}

.page {
  height: 100vh;

}

.separator-left {
  width: 20px;
  float: left;
  min-height: 98vh;
  background-image: url("../assets/wood-pattern.png");
  background-repeat: repeat-y;
  overflow: hidden;
  background-color: saddlebrown;
}

.separator-right {
  width: 20px;
  float: right;
  background-image: url("../assets/wood-pattern.png");
  background-repeat: repeat-y;
  overflow: hidden;
  min-height: 98vh;
  background-color: saddlebrown;
}

.left {
  background-color: sandybrown;
  padding: 20px;
  float: left;
  width: 25%;
  min-width: 400px;
  min-height: 98vh;
}

.middle {
  background-color: rosybrown;
  min-height: 98vh;
}

.right {
  background-color: sandybrown;
  padding: 10px;
  float: right;
  width: 22%;
  min-height: 98vh;
  min-width: 200px;
}

.SinceLastSave {
  padding: 10px;
  text-align: center;
  width: 250px;
  height: 100px;
  background-color: sandybrown;
  border-color: saddlebrown;
  border-width: 5px;
  border-style: solid;
  position: fixed;
  bottom: 0%;
  left: 45%;
}


.bottom-nav {
  display: none;
}

@media screen and (max-height: 600px) {
  .left {
    width: 400px;
  }

  .right {
    width: 375px;
  }

}

@media (max-width: 480px) {
  .page {
    display: flex;
    width: 300vw;
    height: 100vh;

    overflow-x: auto;
    overflow-y: hidden;

    scroll-snap-type: x mandatory;
  }

  .separator-left,
  .separator-right{
    visibility: hidden;
  }

  .left,
  .middle,
  .right {
    width: 100vw;
    flex-shrink: 0;
    padding-bottom: 60px;

    scroll-snap-align: start;
  }

  .bottom-nav {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

    display: flex;
    justify-content: space-around;

    background: #222;
    padding: 10px 0;
    z-index: 10;
  }

  .bottom-nav a {
    color: white;
    text-decoration: none;
    opacity: 0.5;
  }

  .bottom-nav a.active {
    opacity: 1;
    font-weight: bold;
    border-bottom: 2px solid white;
  }

}


