<p style="font-family:courier;">Upgrades</p>
<div class="upgradeBlock">
  @for (upgrade of upgrades;let idx =  $index;track idx) {
    <upgrade-component [upgrade]="upgrade">
    </upgrade-component>
  }
</div>
<p style="font-family:courier;">Buildings</p>

<div class="toggle">
  <input type="checkbox"/>
  <label></label>
</div>
<div class="buildingBlock">
  @for (building of buildings;let idx = $index;track idx) {
    <building-component [building]="building" [buying]="true">
    </building-component>
  }
</div>
